* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  padding: 15px 130px;
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

body {
  font-family: 'Play', sans-serif;
  font-size: 1em;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Play', sans-serif;
  color: white;
}

.logo svg {
  margin-left: 7px;
  transform: translateY(1px);
}

.menu {
  display: inline-flex;
  list-style: none;
  margin-left: 70px;
}

.menu a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  transition: color .3s ease;
}

.menu a:hover, .menu a.active {
  color: orange;
}

.menu li {
  margin-right: 10px;
}

.menu li:last-child {
  margin-right: 0;
}

.welcome {
  min-height: 100vh;
  background: url('./welcome-bg.jpg') no-repeat 0 0;
  background-size: cover;
  position: relative;
}

.switcher {
  margin-left: auto;
  color: white;
}

.switcher_active {
  color: orange;
}

.welcome-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: 67px;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0 ,0 , 0, 0.3);
  color: white;
  padding-left: 130px;
  padding-right: 130px;
}

.welcome-overlay h2 {
  margin: auto;
}

.phones {
  margin-top: 30px;
  margin-left: auto;
}

.services {
  display: flex;
  flex-direction: column;
  padding: 40px 110px 40px;
}

h3 {
  display: inline-flex;
  font-size: 1.75em;
  flex-direction: column;
  margin: 0 auto 20px;
}

h3:after {
  content: '';
  display: block;
  width: 80%;
  height: 2px;
  background: orange;
  margin: 8px auto 0;
}

.services ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.services li {
  width: calc(29% - 30px);
  margin: 15px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 1.188em;
}

.services__img {
  display: flex;
  align-items: center;
  height: 80px;
  margin-bottom: 15px;
}

.bigbox {
  width: calc(55px * 1.3);
  height: calc(55px * 1.3);;
}

.cargo {
  width: calc(60px * 1.3);
  height: calc(60px * 1.3);
}

.wagon {
  width: calc(70px * 1.3);
  height: calc(70px * 1.3);
}

.water {
  width: calc(60px * 1.3);
  height: calc(60px * 1.3);
}

.conditioner {
  width: calc(65px * 1.3);
  height: calc(65px * 1.3);
  fill-opacity: 0.7;
}

.document {
  width: calc(60px * 1.3);
  height: calc(60px * 1.3);
  fill-opacity: 0.8;
}

.contacts {
  display: flex;
  flex-direction: column;
  background: #2E2E2E;
  padding: 35px 110px;
  color: white;
}

.info {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts li {
  font-size: 1.063em;
  margin: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: calc(25% - 30px);
  min-width: 200px;
}

.phone-svg {
  width: 40px;
  height: 40px;
}

.time-svg {
  width: 40px;
  height: 40px;
}

.email-svg {
  width: 45px;
  height: 45px;
}

.location-svg {
  width: 40px;
  height: 40px;
}

.info__img {
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.info__description {
  margin-bottom: 10px;
}

.info__value {
  line-height: 1.3;
  font-size: 1.313em;
  letter-spacing: 0.3px;
}

.copyright {
  font-size: 0.938em;
  margin-top: 20px;
}

.about {
  padding: 40px 130px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #e4ecf0;
  line-height: 1.3;
}

.about p {
  margin-bottom: 15px;
}

h4 {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  body {
    font-size: 0.95em;
  }
  .contacts {
    padding: 30px;
  }
  .about {
    padding: 30px 60px;
  }
  .services {
    padding: 30px;
  }
  .services li {
    width: calc(50% - 30px);
  }
  .welcome-overlay {
    padding-left: 30px;
    padding-right: 30px;
  }
  header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* temp media */
@media (max-width: 1024px) {
  .menu {
    display: none;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 0.9em;
  }
  .about p, .about ul {
    font-size: 1.1em;
  }
  .contacts {
    padding: 15px;
  }
  .about {
    padding: 15px 30px;
  }
  .services {
    padding: 15px;
  }
  .services li {
    width: calc(100% - 30px);
  }
  .welcome-overlay {
    padding-left: 15px;
    padding-right: 15px;
  }
  header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
